
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d08181;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0cap;
}

.logo {
    width: 100%;
}

.nav-items > ul {
    display:flex;
    justify-content: space-around;
    padding-right: 20px;
}
.nav-items>ul > li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.body {
    padding: 20px;
    font-family: sans-serif;
}

.search {
    margin-bottom: 20px;
    font-size: 18px;
}

.res-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.res-cards {
    padding: 16px;
    border-radius: 12px;
    background-color:#111827b0 ;
    cursor: pointer;
    color: #F9FAFB;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: none;
    display: inline-block;
    border: 1px solid #d2cccc; 
    
    min-height : 280px;
    height: auto;
    max-height: none;

}

.res-cards h3, h4 {
    margin: 10px;
    padding: 5px;
    background: none;
}

.res-cards:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.res-cards h3 {
    margin: 0;
    font-size: 18px;
    text-align: center;
    background: none;
    padding: 0;
}

.res-cards img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.top-search {
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.shimmer-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.shimmer-card {
    height: 280px;
    padding: 10px;
    border-radius: 12px;
    background: linear-gradient(90deg, #dad8d8 25%, #e0e0e0 37%, #f0f0f0 63%);
    background-size: 400% 100%;
    animation: shimmer 1.5s infinite;
}

.login {
    height:30px;
    padding:10px;
}

.filter {
    display: flex;
    gap: 10px;
}

.search button {
    cursor: pointer;
}